.bank-Container {
  position: fixed !important;
  display: contents;
}
.bank-Row {
  width: inherit;
}
.bank-bg-table {
  font-family: 'cwTeXYen', serif;
  margin: 20px 25px;
  padding: 0 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 2px #b3cad8;
  background-color: #fff;
  /* width: 680px; */
}

.bank-ieItem {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 8px;
  padding-top: 02px;
  border-radius: 10px;
  font-size: small;
  padding: 0;
  color: #fff;
  text-align: center;
}
.bank-incomeItem {
  border: solid 1px #82aba3 !important;
  background-color: #82aba3 !important;
}
.bank-expensesItem {
  border: solid 1px #b95756 !important;
  background-color: #b95756 !important;
}

.bank-trLine-transfer {
  background-color: #e9d8d8a9;
}

.bank-itemCol {
  width: 60px;
  white-space: nowrap;
}
.bank-sortCol,
.bank-wayCol {
  width: 120px;
  text-align: left;
  white-space: nowrap;
}
.bank-accountCol,
.bank-dateCol {
  width: 15%;
  text-align: left;
  white-space: nowrap;
}
.bank-NumberFont {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.bank-descriptionCol {
  width: auto;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.bank-tagCol {
  width: 20%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.bank-amountCol {
  width: 15%;
  text-align: center;
}
.bank-amountCol-green {
  color: #82aba3;
}
.bank-amountCol-red {
  color: #b95756;
}

.bank-tagLabel {
  width: auto;
  height: 20px;
  margin: 0;
  padding: 0 8px;
  border: solid 1px #3d3d3d;
  background-color: #97a5c0;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: small;
}

.bank-totalSpan {
  display: flex;
  width: 200px;
  height: 27px;
  margin-left: 30px;
  /* margin-right: 20px; */
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #3d3d3d;
}

/* 選單 */
.bank-container-fluid {
  margin: 20px 0 20px 0;
}

.bank-itemHome {
  align-items: center;
  margin: 0 25px;
}

.bank-select,
.bank-select:focus {
  font-family: 'Raleway', sans-serif;
  font-size: large;
  padding: 0 40px 0 20px;
  outline: none;
  width: auto;
  height: 30px;
  border: 0px;
  /* 隱藏點擊的藍框 */
  box-shadow: 0 0 transparent !important;
  border-radius: 17px;
  border: solid 1px #586d80;
}

/* ---------------------------- */

.bank-histogram {
  font-family: sans-serif;
  text-align: center;
  height: 520px;
  display: grid;
  justify-items: center;
}
.bank-Chart {
  height: 500px !important;
  width: 500px !important;
}
