@import 'rsuite/dist/rsuite.css';
.record-Container {
  position: fixed !important;
  display: contents;
}
.record-Row {
  width: inherit;
}
.record-bg-table {
  font-family: 'cwTeXYen', serif;
  margin: 20px 25px;
  padding: 0 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 2px #b3cad8;
  background-color: #fff;
}

.record-ieItem {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: auto;
  padding-top: 02px;
  border-radius: 10px;
  font-size: small;
  padding: 0;
  color: #fff;
  text-align: center;
}
.record-incomeItem {
  border: solid 1px #82aba3 !important;
  background-color: #82aba3 !important;
}
.record-expensesItem {
  border: solid 1px #b95756 !important;
  background-color: #b95756 !important;
}

.record-trLine-transfer {
  background-color: #e9d8d8a9;
}

.record-itemCol {
  width: 35px;
  white-space: nowrap;
}
.record-sortCol {
  width: 110px;
  text-align: left;
  white-space: nowrap;
}
.record-wayCol {
  width: 75px;
  text-align: left;
  white-space: nowrap;
}
.record-accountCol {
  width: 90px;
  text-align: left;
  white-space: nowrap;
}
.record-dateCol {
  width: 120px;
  text-align: left;
  white-space: nowrap;
}
.record-NumberFont {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.record-descriptionCol {
  width: auto;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.record-tagCol {
  width: 50px;
  white-space: nowrap;
}
.record-amountCol {
  width: 80px;
  text-align: center;
}
.record-amountCol-green {
  color: #82aba3;
}
.record-amountCol-red {
  color: #b95756;
}

.record-tagLabel {
  width: auto;
  height: 20px;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0 8px;
  border-bottom: solid 3px #3d3d3d;
  /* background-color: #97a5c0; */
  /* border-radius: 10px; */
  text-align: center;
  color: #3d3d3d;
  font-size: small;
}

.record-totalSpan {
  display: flex;
  width: 200px;
  height: 27px;
  margin-left: auto;
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #3d3d3d;
}

/* 選單 */
.record-container-fluid {
  margin: 20px 0 20px 0;
}

.record-itemHome {
  align-items: center;
  margin: 0 25px;
}

.record-select,
.record-select:focus {
  font-family: 'Raleway', sans-serif;
  font-size: large;
  /* text-align: center; */
  outline: none;
  width: auto;
  height: 30px;
  border: 0px;

  /* 隱藏點擊的藍框 */
  box-shadow: 0 0 transparent !important;
}
.record-yearSelect {
  background-image: none;
  padding: 0 10px 0 20px;
  border-radius: 17px 0 0 17px;
  border-top: solid 1px #586d80 !important;
  border-bottom: solid 1px #586d80 !important;
  border-left: solid 1px #586d80 !important;
}
.record-monthSelect {
  background-image: none;
  padding: 0 20px 0 10px;
  border-radius: 0 17px 17px 0;
  border-top: solid 1px #586d80 !important;
  border-bottom: solid 1px #586d80 !important;
  border-right: solid 1px #586d80 !important;
}
.record-IOSelect {
  padding: 0 40px 0 20px;
  margin-left: 10px;
  border-radius: 0px;
  border-bottom: solid 1px #586d80 !important;
}
.record-dateSpan {
  font-family: 'Raleway', sans-serif;
  font-size: large;
  padding: 0;
  width: auto;
  height: 30px;
  border-top: solid 1px #586d80;
  border-bottom: solid 1px #586d80;
  display: flex;
  align-items: center;
}
/* -------------------------- */

/* .css-13cymwt-control {
  border-radius: 50px;
} */

/* 標籤的pop */
.record-popStyle {
  width: 250px;
}
.record-popHeader {
  margin-top: 0px;
}
.record-popBody {
  max-height: 80px;
}
/* -------------------------- */

.record-histogram {
  height: 500px;
  display: grid;
  justify-items: center;
  padding-bottom: 30px;
}
