/* 表格數字  font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* 表格文字  font-family: 'cwTeXYen', serif; */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
.allPage {
  position: relative;
  min-height: 100vh;
}

.pageWidth {
  padding-bottom: 40px;
}

.left-bar {
  font-family: 'Raleway', sans-serif;
  background: #b3cad8;
  padding: 10px;
  min-height: calc(100vh - 50px);
}
.page {
  display: flex;
}

footer {
  font-family: 'Raleway', sans-serif;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
